.markdown-preview-view .image-embed,
.markdown-source-view.mod-cm6 .image-embed {
  display: flex;
  justify-content: center;
}

.markdown-preview-view .image-embed img,
.markdown-source-view.mod-cm6 .image-embed img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
